@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Ye code add karein --- */
body {
  /* Default (Light Mode) colors */
  @apply bg-white text-gray-900;

  /* Dark Mode colors */
  @apply dark:bg-gray-950 dark:text-white;

  /* Smooth transition */
  @apply transition-colors duration-300;
  /* margin-top: 2rem; */
}